.gridPiece {
	border: 2px solid black;
	width: 98px;
	height: 98px;
	display: inline-block;
	position: absolute;
}

#congrats {
	border: red dashed 5px;
	background-color: yellow;
	text-align: center;
	margin-top: 5px;
}

#content {
	margin-left: auto;
	margin-right: auto;
}

#grid {
	position: relative;
}

.notyetselected {
	opacity: 0.5;
}